/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body > #header .imageContainer {
  padding: 30px 0 0 0;
  text-align: center; }
body > #header #navigation {
  margin-top: 30px;
  background-color: #0C0C0C; }
  body > #header #navigation ul {
    font-size: 14px;
    overflow: hidden; }
    body > #header #navigation ul li.title {
      font-size: 28px;
      color: white;
      padding: 6px 20px 0 0;
      font-family: 'Open Sans Condensed', 'Open Sans';
      background-color: transparent !important; }
    body > #header #navigation ul li {
      float: left; }
      body > #header #navigation ul li a {
        color: white;
        display: inline-block;
        padding: 14px 22px; }

body > #header #navigation li.active,
body > #header #navigation li:hover,
body.home #navigation li.home,
body.objectives #navigation li.objectives,
body.consortium #navigation li.consortium,
body.index #navigation li.home,
body.work-packages #navigation li.work-packages,
body.media #navigation li.media,
body.contacts #navigation li.contacts,
body.public-deliverables #navigation li.public-deliverables,
body.publications #navigation li.publications {
  background-color: white; }
  body > #header #navigation li.active a,
  body > #header #navigation li:hover a,
  body.home #navigation li.home a,
  body.objectives #navigation li.objectives a,
  body.consortium #navigation li.consortium a,
  body.index #navigation li.home a,
  body.work-packages #navigation li.work-packages a,
  body.media #navigation li.media a,
  body.contacts #navigation li.contacts a,
  body.public-deliverables #navigation li.public-deliverables a,
  body.publications #navigation li.publications a {
    color: black !important; }

body > .content {
  min-height: 500px;
  margin-top: 40px;
  line-height: 1.7em; }
  body > .content, body > .content a {
    color: #323232; }
  body > .content a:hover {
    text-decoration: underline; }
  body > .content h1 {
    font-family: 'Open Sans Condensed';
    font-size: 50px;
    color: #e0e0e0;
    background-color: white;
    padding-right: 10px;
    margin-bottom: 30px; }

body > .content .news {
  margin: 0 0 110px; }
  body > .content .news .item {
    margin: 0 0 110px; }
    body > .content .news .item h2 {
      font-weight: 700;
      color: #505050;
      margin-bottom: 0;
      padding-bottom: 0px; }
    body > .content .news .item .date {
      line-height: 1.8em;
      border-bottom: 1px solid #d0d0d0;
      font-size: 12px;
      padding-bottom: 10px;
      color: #808080; }
    body > .content .news .item .text {
      line-height: 1.8em;
      margin-top: 20px;
      /*
       *-moz-column-count:2; [> Firefox <]
       *-webkit-column-count:2; [> Safari and Chrome <]
       *column-count:2;
       */ }
      body > .content .news .item .text img {
        border: 1px solid #ccc;
        padding: 3px;
        margin-top: 20px; }
      body > .content .news .item .text a.more {
        font-size: 13px;
        position: relative;
        color: #0a0a0a; }
        body > .content .news .item .text a.more:hover {
          text-decoration: underline; }

#footer {
  margin-top: 150px;
  background-color: #141414;
  padding: 40px 0 50px;
  overflow: hidden; }
  #footer .partners {
    float: left;
    border-right: 1px solid #555;
    overflow: hidden; }
  #footer .partner, #footer .funding {
    padding-top: 5px;
    line-height: 1.8em;
    font-size: 14px; }
    #footer .partner, #footer .partner a, #footer .funding, #footer .funding a {
      color: white; }
  #footer .partner {
    float: left;
    width: 260px;
    margin-right: 28px; }
    #footer .partner a.imageContainer {
      float: left; }
    #footer .partner a.text {
      margin-left: 81px;
      display: block; }
    #footer .partner.seventhFramework img {
      width: 65px;
      height: 53px; }
  #footer .funding {
    padding-left: 30px;
    float: left;
    width: 580px; }
    #footer .funding span.title {
      padding-right: 17px; }

body.objectives p {
  margin-bottom: 20px; }

body.contacts p {
  margin-bottom: 30px;
  line-height: 1.4em; }

body.consortium table td.image, body.index table td.image {
  text-align: center; }
body.consortium table td, body.index table td {
  padding: 20px 40px;
  vertical-align: top; }
body.consortium table td.name, body.consortium table td.ip, body.index table td.name, body.index table td.ip {
  padding-top: 40px; }
body.consortium table td.name, body.index table td.name {
  cursor: pointer; }
  body.consortium table td.name:hover a, body.index table td.name:hover a {
    text-decoration: underline; }
body.consortium table tr.tuw td.name, body.consortium table tr.tuw td.ip, body.index table tr.tuw td.name, body.index table tr.tuw td.ip {
  padding-top: 15px; }
body.consortium table tr.university-twente td.name, body.consortium table tr.university-twente td.ip, body.index table tr.university-twente td.name, body.index table tr.university-twente td.ip {
  padding-top: 9px; }
body.consortium table tr.festo-didactic td.name, body.consortium table tr.festo-didactic td.ip, body.index table tr.festo-didactic td.name, body.index table tr.festo-didactic td.ip {
  padding-top: 7px; }
body.consortium table tr.fraunhofer-ipa td.name, body.consortium table tr.fraunhofer-ipa td.ip, body.index table tr.fraunhofer-ipa td.name, body.index table tr.fraunhofer-ipa td.ip {
  padding-top: 13px; }
body.consortium table tr.idmind td.name, body.consortium table tr.idmind td.ip, body.index table tr.idmind td.name, body.index table tr.idmind td.ip {
  padding-top: 29px; }
body.consortium table tr.uni-bonn td.name, body.consortium table tr.uni-bonn td.ip, body.index table tr.uni-bonn td.name, body.index table tr.uni-bonn td.ip {
  padding-top: 35px;
  white-space: nowrap; }
body.consortium table a span.link, body.index table a span.link {
  color: #999;
  text-decoration: none !important; }
body.consortium table a.link, body.index table a.link {
  color: #999;
  text-decoration: none !important; }

body.work-packages table {
  width: 100%;
  margin-top: 50px; }
  body.work-packages table th, body.work-packages table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; }
  body.work-packages table th {
    background-color: #f0f0f0;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: 600;
    color: #333;
    line-height: 1.2em; }

body > .content .media {
  margin: 0 0 110px; }
  body > .content .media .item {
    margin: 0 0 110px; }
    body > .content .media .item h2 {
      font-weight: 700;
      color: #505050;
      line-height: 1.8em;
      border-bottom: 1px solid #d0d0d0;
      padding-bottom: 0px;
      margin-bottom: 0; }
    body > .content .media .item .video {
      margin-top: 20px; }
    body > .content .media .item .text {
      line-height: 1.8em;
      margin-top: 20px;
      /*
       *-moz-column-count:2; [> Firefox <]
       *-webkit-column-count:2; [> Safari and Chrome <]
       *column-count:2;
       */ }
      body > .content .media .item .text img {
        border: 1px solid #ccc;
        padding: 3px;
        margin-top: 50px; }
      body > .content .media .item .text a.more {
        font-size: 13px;
        position: relative;
        color: #0a0a0a; }
        body > .content .media .item .text a.more:hover {
          text-decoration: underline; }

body > .content .publications {
  margin: 0 0 110px; }
  body > .content .publications .item {
    margin: 0 0 110px; }
    body > .content .publications .item h2 {
      font-weight: 700; }
    body > .content .publications .item .text {
      line-height: 1.8em;
      /*
       *-moz-column-count:2; [> Firefox <]
       *-webkit-column-count:2; [> Safari and Chrome <]
       *column-count:2;
       */ }
      body > .content .publications .item .text img {
        border: 1px solid #ccc;
        padding: 3px;
        margin-top: 20px; }
      body > .content .publications .item .text a.more {
        font-size: 13px;
        position: relative;
        color: #0a0a0a; }
        body > .content .publications .item .text a.more:hover {
          text-decoration: underline; }
      body > .content .publications .item .text i.more {
        font-style: italic; }

body {
  font-family: 'Open Sans';
  font-weight: 400; }

.centered {
  width: 960px;
  margin: 0 auto; }

a {
  text-decoration: none; }
  a:active {
    position: relative;
    bottom: -1px; }
